<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reeta.onsaveinstanceproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnSaveInstanceProject">

        <activity
            android:name=".validEmailOrNot.CheckForValidEmailActivity"
            android:exported="false" />
        <activity
            android:name=".goToOtherApp.GoToOtherAppActivity"
            android:exported="false" />
        <activity
            android:name=".sendEmails.SendEmailsActivity"
            android:exported="false" />
        <activity
            android:name=".gowebpage.GoWebPageActivity"
            android:exported="false" />
        <activity
            android:name=".searchEditTextBox.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".onsaveAndonRestoreMethods.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>